<% layout('layouts/boilerplate')%>
<div class="row">
  <h1 class="text-center">New Product</h1>
  <div class="col-6 offset-3">
    <form action="/products" method="POST">
      <div class="mb-3">
        <label class="form-label" for="name">Name</label>
        <input
          class="form-control"
          type="text"
          id="name"
          name="product[name]"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="unitprice">Unitprice</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            id="price"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            name="product[price]"
          />
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="quantity">Quantity</label>
        <input
          class="form-control"
          type="number"
          id="quantity"
          name="product[quantity]"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="product[description]"
        ></textarea>
      </div>

      <div class="mb-3">
        <button class="btn btn-success">Add Product</button>
      </div>
    </form>
    <a href="/products">All products</a>
  </div>
</div>
